<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZZFToolManagerDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CB28689D1EC54F6E00961890</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB2868B61EC54F6F00961890</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB2868C11EC54F6F00961890</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
